.env
.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]
.venv/
unused/
service_alerts.txt
trip_updates.txt
vehicle_positions.txt
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl
**/.terraform/
adelaide-metro-505702-0645266fa951.json
gtfs/
*.geojson
*.zip
ca.pem